<!--
Footer partial template

@author Elena Blisi
-->


<!-- Footer Section -->
<div class="container-fluid bottom">
    <footer class="py-0 py-md-3 my-4 ">
        <!-- Navigation Links -->
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <!-- Home Link -->
            <li class="nav-item "><a href="/" class="nav-link px-3 footerNav">Home</a></li>
            <!-- Services Link -->
            <li class="nav-item "><a href="/services" class="nav-link px-3 footerNav">Services</a></li>
            <!-- Book Link -->
            <li class="nav-item "><a href="/book" class="nav-link px-3 footerNav">Book</a></li>
            <!-- About Link -->
            <li class="nav-item "><a href="/about" class="nav-link px-3 footerNav">About</a></li>
            <!-- Contact Link -->
            <li class="nav-item "><a href="/contact" class="nav-link px-3 footerNav">Contact</a></li>
            <!-- Opening Hours Link -->
            <li class="nav-item"><a href="/openingHours" class="nav-link px-3 footerNav">Opening Hours</a></li>
        </ul>

        <!-- Footer Bottom Section -->
          <div class="d-flex flex-column flex-md-row">
            <!-- Instagram Link -->
            <a class="footerNav d-flex order-1 col-12 col-md-6 order-md-2" target="_blank" href="https://www.instagram.com/skylineshine_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="/SVGs/instagram.svg" alt="instagram" width="20" class="instagram mx-auto mx-md-0"></a>
            <!-- Copyright Text -->
            <span class="order-2 order-md-1 col-12 col-md-6 mb-3 mb-md-0 text-center text-md-start">© 2024 Skyline Shine, All Rights Reserved</span>
          </div>

    </footer>
</div>

<!-- JavaScript For Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
