<!--
About view

@author Elena Blisi
-->


<!-- Include the header partial -->
<%- include("partials/header.ejs") %>


<!-- About Section -->
<section id="about" class="bg-gray">
    <div class="container-xxl px-4 px-lg-0">
        <div class="row">
            <!-- Content Column -->
            <div class="col-12 d-flex flex-column  justify-content-center text-start">
                <!-- Section Title -->
                <h2 class="pb-4 text-center text-lg-start">Who Are We</h2>

                <!-- First Paragraph -->
                <p class="pb-1"><strong>Skyline Shine Detail</strong> is dedicated to taking auto detailing to unprecedented heights, providing our clients with cutting-edge, effective, and budget-friendly solutions to maintain and enhance their vehicle's appearance, safety, and performance.</p>
                
                <!-- Second Paragraph -->
                <p class="pb-1">Our highly skilled detailers are exceptionally thorough, ensuring that every inch of your car's interior and exterior is meticulously cleaned and fully restored. We exclusively use top-tier cleaning products, delivering a pristine finish that gets your vehicle back on the road in no time.</p>
                
                <!-- Third Paragraph -->
                <p>Reach out to us today and experience firsthand why we are the leading choice for professional auto detailing services in Limassol and the surrounding areas. Let us help you keep your car looking its best while improving its overall performance and safety.</p>
            </div>
        </div>
    </div>
</section>


<!-- Include the footer partial -->
<%- include("partials/footer.ejs") %>