<!--
Opening Hours View

@author Elena Blisi
-->


<!--Include the header templeate-->
<%- include("partials/header.ejs") %>

<!-- Section displaying the opening hours -->
<section id="openingHours" class="bg-gray">
    <div class="container-xxl px-4 px-lg-0">
        <div class="row">
            <div class="col-12 d-flex flex-column  justify-content-center text-lg-start">
                <h2 class="">Opening Hours</h2>
                <h3 class="pb-3 ">7 Days a Week</h3>
                <ul>
                    <li>Monday: 6:30 - 16:00</li>
                    <li>Tuesday: 6:30 - 16:00</li>
                    <li>Wednesday: 6:30 - 16:00</li>
                    <li>Thursday: 6:30 - 16:00</li>
                    <li>Friday: 6:30 - 16:00</li>
                    <li>Saturday: 6:30 - 16:00</li>
                    <li>Sunday: 6:30 - 16:00</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!--Include the footer templeate-->
<%- include("partials/footer.ejs") %>